body {
    margin: 0;
    margin-bottom: 90;
    overflow-x: hidden;
    background-color: #FDFDFD;
    }

b { color: #333 }
p { text-align: justify; line-height: 1.2 }
ul { list-style-type: square }

a {
    color: #222;
    text-decoration: underline }
    a:active { color: #23aeff }
    a:hover, a:focus, a c:hover { color: #018fe2 }

pre {
    font-family: Droid Sans Mono;
    font-size: 12;
    line-height: 1.5;
    white-space: pre-wrap;
    padding: 16;
    margin-left: -8;
    margin-right: -8;
    border: 1 solid #888;
    box-shadow: 0 13 14 -12 #ADADAD }
    blocks pre:hover { cursor: pointer }

h1, h2 {
    color: #222;
    font-weight: 100;
    font-variant: small-caps;
    font-size: 25;
    font-style: italic;
    font-family: Times New Roman;
    margin: 40 -8;
    padding: 13 12 28 12;
    background-color: white;
    border: 1 solid #888;
    box-shadow: 0 6 12 -6 #AAA;
    }

h1 {
    font-style: normal;
    margin: 25 -8 40;
    padding-top: 18;
    padding-bottom: 18;
    background-image: gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(245,245,245)),
	    color-stop(0.1, rgb(250,250,250)),
	    color-stop(1, rgb(255,255,255))
        );
    }
    h1:after {
        content: 'docs.pm';
        color: #555;
        float: right;
        font-size: 12;
        font-style: italic;
        font-variant: normal;
        font-family: Droid Sans;
        padding: 28 0 0 0;
        }
    
h3 {
    color: #111;
    font-size: 18;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-family: Ubuntu Mono;
    padding: 18 20;
    margin: 30 -8 30;
    border-top: 1 solid #DDD;
    border-bottom: 1 solid #DDD;
    }
    h3 bind {
        font-size: 12;
        font-weight: 100;
        }

h {
    color: #111;
    font-size: 19;
    font-weight: 100;
    font-family: Ubuntu Light;
    font-style: italic;
    border-left: 3 solid #AAA;
    margin-top: 50;
    padding-left: 20;
    }

c {
    color: #111;
    font-size: 18;
    font-family: Ubuntu Mono
    }

page {
    font-family: Ubuntu Light;
    width: 620;
    padding: 20 100 80;
    margin: auto;
    background-color: white;
    border: 1 solid #888;
    box-shadow: 0 14 18 -12 #777;
    }

note {
    color: #111;
    font-size: 18;
    font-style: italic;
    font-family: Times New Roman;
    text-align: justify;
    line-height: 26px;
    letter-spacing: 0.7pt;
    padding: 20 30;
    margin: -8;
    margin-top: 20px;
    border: 1px solid #888;
    box-shadow: inset 0px 0px 20px #EEE;
    }
    note p {
        line-height: 26px;
        }
    note c {
        font-weight: 100; font-size: 18px;
        }
    note:before {
        color: #888;
        content: '*';
        font-size: 35px;
        font-weight: 900;
        font-style: normal;
        font-family: Droid Sans;
        line-height: 0;
        margin-right: 10px;
        vertical-align: -12px;
        }

box {
    margin-top: 14px;
    margin-right: -8px;
    margin-left: -8px;
    border: 1px solid #888;
    box-shadow: 0px 13px 14px -12px #ADADAD;
    }
    box p {
        display: none;
        font-family: Droid Sans;
        font-size: 15px;
        margin: 0;
        padding: 12px;
        border-top: 1px solid #AAA;
        }
    box bar {
        font-size: 16px;
        font-weight: 900;
        background-color: #FDFDFD;
        padding: 8px;
        padding-top: 5px;
        }
        box bar:hover { cursor: pointer }
    box subtitle {
        font-weight: 100;
        font-style: italic;
        }
    box type {
        float: right;
        font-weight: 100;
        font-style: normal;
        }
    box type:before { content: 'type:' }

blocks p { display: none }

.ad {
  	width: 612;
    color: red;
    font-size: 16;
    text-align: right;
    font-family: Ubuntu Light;
    padding-right: 8;
    padding-bottom: 5;
    margin-top: 25;
    margin-right: -8;
    border-right: 2px solid #AAA;
    }
    
box, bar { font-family: Ubuntu Mono }
scroll, page, page h, stamp, note, box, box bar, box h { display: block }
h3 bind, box type:before, ul { color: #999 }
